<form method="POST" action="/api/registroUsuario">
  <label>Nombre</label><input type="text" name="txtnombre" value="{{txtnombre}}"/>
  <label>apellido</label><input type="text" name="txtapellido" value="{{txtapellido}}"/>
  <label>correo</label><input type="text" name="txtcorreo" value="{{txtcorreo}}"/>
  <label>usuario</label><input type="text" name="txtusuario" value="{{txtusuario}}"/>
  <label>Contraseña</label><input type="password" name="txtPass" value="{{txtPass}}"/>
    <br>
    <input type="submit" name="btnRegister" value="Regístrate" />
</form>
